@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Start content -->
<main class="flex-shrink-0">

    <div class="container">

        <div class="ceilingsp"><!-- space from menu --></div>
        <div class="row">
            <h1 class="text-center highli">Why select our validators?</h1>
        </div>



        <!-- first row -->
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

            <!-- left column -->
            <div class="col d-flex align-items-start">
                <div class="bg-light text-dark flex-shrink-0 me-2">
                    <!-- space -->
                </div>
                <div>
                    <div class="text-center">
                        <img src="~/img/icon_ds.jpg">
                        <h2>Dedicated servers</h2>
                    </div>
                    <p>We invest in powerful machines and do not use virtual servers. Virtual servers share resources with others and can increase the risk of performance issues. We use dedicated servers and the specifications of our machines are well above the minimum recommended. We optimise our nodes for sustained uptime and reliability.</p>

                </div>
                <div class="bg-light text-dark flex-shrink-0 me-2">
                    <!-- space -->
                </div>
            </div>


            <!-- middle column -->
            <div class="col d-flex align-items-start">
                <div class="bg-light text-dark flex-shrink-0 me-2">
                    <!-- space -->
                </div>
                <div>
                    <div class="text-center">
                        <img src="~/img/icon_dot.jpg">
                        <h2>Polkadot ecosystem</h2>
                    </div>
                    <p>Our team is exclusively focused on running nodes for the Polkadot ecosystem. By keeping our focus narrow, we maximise our resources towards ensuring we are attentive to changes within the Polkadot eco-system and quickly respond to urgent upgrade/downgrade requests. We have made a considerable personal investment in self-staking in our nodes - so you can say we have 'skin in the game'.   </p>

                </div>
                <div class="bg-light text-dark flex-shrink-0 me-2">
                    <!-- space -->
                </div>
            </div>

            <!-- right column -->
            <div class="col d-flex align-items-start">
                <div class="bg-light text-dark flex-shrink-0 me-2">
                    <!-- space -->
                </div>
                <div>
                    <div class="text-center">
                        <img src="~/img/icon_net.jpg">
                        <h2>Redundancy</h2>
                    </div>
                    <p>
                        We have invested in backup nodes decentralised across multiple countries to minimise the possibility of disruption. Our computing infrastructure enables us to deploy additional servers for backup, load balancing or temporarily halting a primary server for maintenance purposes. All of these factors aim to ensure we maximise our the up-time and reliability of our nodes.

                    </p>

                </div>
                <div class="bg-light text-dark flex-shrink-0 me-2">
                    <!-- space -->
                </div>
            </div>
        </div>



        <!-- second row -->
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

            <!-- left column -->
            <div class="col d-flex align-items-start">
                <div class="bg-light text-dark flex-shrink-0 me-2">
                    <!-- space -->
                </div>
                <div>
                    <div class="text-center">
                        <img src="~/img/icon_w3.jpg">
                        <h2>Trusted & known</h2>
                    </div>
                    <p>Polkadot and Kusama were launched by the Web3 Foundation and our identity has been verified with the Web3 Foundation as a known-good identity holder. <a href="https://wiki.polkadot.network/docs/en/learn-identity#judgements" class="link-info">Learn more</a> about identity judgements.</p>

                </div>
                <div class="bg-light text-dark flex-shrink-0 me-2">
                    <!-- space -->
                </div>
            </div>


            <!-- middle column -->
            <div class="col d-flex align-items-start">
                <div class="bg-light text-dark flex-shrink-0 me-2">
                    <!-- space -->
                </div>
                <div>
                    <div class="text-center">
                        <img src="~/img/icon_awrd.jpg">
                        <h2>Recognised expertise</h2>
                    </div>
                    <p>
                        We provide <a href="learning.html" class="link-info">educational consultancy and support</a> to other validators and nominators. Our team includes an official Polkadot and Kusama ambassador and community discord moderator.
                    </p>

                </div>
                <div class="bg-light text-dark flex-shrink-0 me-2">
                    <!-- space -->
                </div>
            </div>

            <!-- right column -->
            <div class="col d-flex align-items-start">
                <div class="bg-light text-dark flex-shrink-0 me-2">
                    <!-- space -->
                </div>
                <div>
                    <div class="text-center">
                        <img src="~/img/icon_bonus.jpg">
                        <h2>Bonus payouts</h2>
                    </div>
                    <p>We offer bonus payouts to loyal nominators. So, in addition to regular staking rewards, loyal nominators can receive bonus earnings. Check out the <a href="leaderboard.html" class="link-info">leaderboard</a> to learn more.</p>

                </div>
                <div class="bg-light text-dark flex-shrink-0 me-2">
                    <!-- space -->
                </div>
            </div>
        </div>



        <!-- Founder Profile -->

        <div class="row g-4 py-5 ">
            <div class="col-md-4 text-center">

                <img src="~/img/profile_paradox.jpg">
            </div>
            <div class="col-md-8">



                <h2>Will (Paradox)</h2>
                <h5 class="text-secondary">
                    Founder and team lead</h3>
                    <p>Will has a professional background in Computer Science and Construction Finance & Law, and is a Polkadot and Kusama enthusiast. He is a community moderator on the official Polkadot and Kusama discord (Paradoxxx#3102). In addition to funding and setting up our validator nodes, he develops and delivers educational videos on the Polkadot ecosystem, including how to setup, configure and troubleshoot validator nodes. Will is often engaged in discussions with members of the Web3 Foundation, Parity, Polkadot and Kusama council members, for the purposes of learning more about the eco-system and advocating for positive changes for the broader community.</p>
            </div>

        </div>

    </div>
</main>
