@page
@model PortalCore.Pages.LeaderBoardModel
@{
}

<!-- Start content -->
<main class="flex-shrink-0">

    <div class="container">

        <div class="ceilingsp"><!-- space from menu --></div>
        <div class="row">
            <h1 class="text-center highli_sml">Learning</h1>
        </div>


        <!-- start learning content -->


        <!-- end learning content -->
    </div>
</main>