<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta name="description" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paranodes</title>
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">

    <meta name="description" content="Paranodes provides reliable validator nodes and educational consultancy within the Polkadot eco-system." />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="canonical" href="https://www.paranodes.io/" />
    <meta name="referrer" content="no-referrer-when-downgrade" />

    <meta property="og:site_name" content="Paranodes" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Paranodes" />
    <meta property="og:description" content="Paranodes provides reliable validator nodes and educational consultancy within the Polkadot eco-system." />
    <meta property="og:url" content="https://www.paranodes.io/" />
    <meta property="og:image" content="https://www.paranodes.io/img/logotrans_l_up.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Paranodes" />
    <meta name="twitter:description" content="Paranodes provides reliable validator nodes and educational consultancy within the Polkadot eco-system" />
    <meta name="twitter:url" content="https://www.paranodes.io/" />
    <meta name="twitter:image" content="https://www.paranodes.io/img/logotrans_l_up.png" />
    <meta name="twitter:site" content="%40paranodes" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />


    <!-- Generic bootstrap styles -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="~/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="~/css/override.css" rel="stylesheet">

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('.alert').alert();
        });

        function copyText(target_element) {
            /* Get the text field */
            var copyText = document.getElementById(target_element);

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            document.execCommand("copy");

        }
    </script>
</head>
<body class="d-flex flex-column h-100">



    <header>
        <!-- Navigation menu and logo -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white pndot">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img class="logo header-logo-light" alt="Polkadot" src="~/img/logotrans_l_up.png" height="120">
                </a>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="collapseNavbar">

                    <ul class="navbar-nav ms-auto align-text-bottom" style="height: 70px;">
                        <li class="nav-item d-flex align-items-end bd-highlight mb-3" style="height: 100%">
                            <a class="nav-link" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item d-flex align-items-end bd-highlight mb-3" style="height: 100%">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Tools</a>
                            <ul class="dropdown-menu ms-auto align-text-bottom">
                                <li class="nav-item d-flex align-items-end bd-highlight mb-3">
                                    <a class="nav-link" asp-page="/SessionKeys">Session Key Finder</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                    @*<li class="nav-item d-flex align-items-end bd-highlight mb-3" style="height: 100%">


            <a class="nav-link"  asp-area="" asp-page="/LeaderBoard">Leaderboard</a>

        </li>
        <li class="nav-item d-flex align-items-end bd-highlight mb-3" style="height: 100%">


            <a class="nav-link" asp-area="" asp-page="/NodeStatus">Node Status</a>

        </li>
        <li class="nav-item d-flex align-items-end bd-highlight mb-3" style="height: 100%">


            <a class="nav-link" asp-area="" asp-page="/Learning">Learning</a>

        </li>*@

                </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Footer: slogan & socials -->
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <div class="d-flex justify-content-between bd-highlight mb-3">

                <div class="p-3 bd-highlight">
                    Polkadot Validators:
                    <ul>
                        <li>PARANODES.IO/01 - 14hM4oLJCK6wtS7gNfwTDhthRjy5QJ1t3NAcoPjEepo9AH67</li>
                        <li>PARANODES.IO/02 - 13wroNHV6aJEkUFJEx4NYv7kv5vgq4HypLAPSz347VVQbYj3</li>
                    </ul>
                    Kusama Validators:
                    <ul>
                        <li>PARANODES.IO/01 - H3DL157HL7DkvV2kXocanmKaGXNyQphUDVW33Fnfk8KNhsv</li>
                        <li>PARANODES.IO/02 - HtYny8Eker9VBEKQrtBd6Y5PTkaHQFSvyMFy2bkd66wGBan</li>
                    </ul>
                </div>


                <div class="p-2 bd-highlight">
                    <a href="https://discord.gg/wGUDt2p" target="_blank" class="text-dark"><img src="~/img/discord.svg" width="30px"></a>
                    <a href="https://twitter.com/Paranodes" target="_blank" class="text-dark"><img src="~/img/twitter.svg" width="30px"></a>
                    <a href="https://www.youtube.com/channel/UCaL8-V37qcHeaVYtlOAdgAA" target="_blank" class="text-dark"><img src="~/img/youtube.svg" width="30px"></a>
                </div>
            </div>
            <div class="p-8 text-center bd-highlight"><span class="text-muted"><b>Paranodes:</b> Quality and reliability before profit. </span></div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
