@import url('file:///C:\Users\Pluto\source\repos\ParaNodes\PortalCore\wwwroot\css\override.css');
.pndot {
	background-image: url("../img/dots.png");
	background-repeat: repeat-x;
}
.ms-space {
	height: 8rem;
}
.highli {
	height: 5rem;
	background-image: url("../img/underline.png");
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	margin: 0 0px;
	padding: 0 0px;
	background-position: center top;
}
.highli_sml {
	height: 5rem;
	background-image: url("../img/underline_sml.png");
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	margin: 0 0px;
	padding: 0 0px;
	background-position: center top;
}
.blockpad{
  margin: 1px 5px 1px 5px;
}
.ceilingsp{
	height: 10rem;
}

.rowspace {
	height: 5rem;
}

.pink {
	background-image: url("../img/pink.png");
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
.icon {
	height: 7rem;
}